model_provider = "{{ codex.provider }}"
model_reasoning_effort = "high"
model="{{ codex.model }}"
sandbox_mode = "workspace-write"
approval_policy = "on-request"

[analytics]
enabled = false

{% if ollama.host is defined %}
[model_providers.ollama-custom]
name = "Ollama"
base_url = "{{ ollama.host }}/v1"
{% endif %}

{% if lmstudio.host is defined %}
[model_providers.lmstudio-custom]
name = "LM Studio"
base_url = "{{ lmstudio.host }}/v1"
{% endif %}

{% if lookup('ansible.builtin.env', 'OPENROUTER_API_KEY', default='') != '' %}
[model_providers.openrouter]
name = "OpenRouter"
base_url="https://openrouter.ai/api/v1"
env_key="OPENROUTER_API_KEY"
{% elif lookup('ansible.builtin.env', 'OPENAI_BASE_URL', default='') != '' %}
[model_providers.openai-custom]
name = "OpenAI custom"
base_url="{{ lookup('ansible.builtin.env', 'OPENAI_BASE_URL') }}/v1"
env_key="OPENAI_API_KEY"
{% endif %}

[tui]
status_line = ["model-with-reasoning", "context-window-size", "current-dir", "context-used", "used-tokens"]
status_line_use_colors = true
