---
# Maybe install it instead of checking it.
- name: Check if gcloud is installed
  ansible.builtin.command: which gcloud
  register: gcloud_installed
  ignore_errors: yes
  changed_when: false
  failed_when: false

- name: List the gcloud config in JSON
  ansible.builtin.command: gcloud config list --format=json
  register: gcloud_result
  ignore_errors: yes
  changed_when: false
  when: gcloud_installed.rc == 0

- name: Parse the JSON and store it globally
  ansible.builtin.set_fact:
    gcloud: "{{ gcloud_result.stdout | from_json }}"
  when: gcloud_installed.rc == 0 and gcloud_result.stdout != ""
