---
- name: Check if ollama is installed
  ansible.builtin.command: which ollama
  register: ollama_installed
  ignore_errors: yes
  changed_when: false
  failed_when: false

- name: Get ollama version
  ansible.builtin.shell: >
    {{ ollama_installed.stdout }} -v | awk '{print $NF}'
  register: ollama_version
  ignore_errors: yes
  changed_when: false
  when: ollama_installed.stdout != ""

- name: Parse the ollama JSON models and store it globally
  ansible.builtin.set_fact:
    ollama: {
      'version': "{{ ollama_version.stdout }}",
      'host': "{{ lookup('ansible.builtin.env', 'OLLAMA_HOST', default='http://localhost:11434') }}"
    }
  when: ollama_installed.rc == 0 and ollama_version.stdout != ""

- name: Set ollama host fact if define
  ansible.builtin.set_fact:
    ollama: "{{ ollama | combine({'host': lookup('ansible.builtin.env', 'OLLAMA_HOST')}) }}"
  when:
    - ollama_installed.rc != 0
    - lookup('ansible.builtin.env', 'OLLAMA_HOST', default='') != ''

- name: Retrieve ollama models from API
  ansible.builtin.uri:
    url: "{{ ollama.host }}/api/tags"
    return_content: true
  register: ollama_tags
  failed_when: >
    ollama_tags.status != 200
    or 'models' not in (ollama_tags.json | default({}))
  when: ollama.host is defined

- name: Set ollama models fact if define
  ansible.builtin.set_fact:
    ollama: "{{ ollama | combine({'models': ollama_tags.json.models }) }}"
  when: ollama.host is defined
...