{
{% if ollama.host is defined %}  "env": {
    "ANTHROPIC_AUTH_TOKEN": "ollama",
    "ANTHROPIC_API_KEY": "",
    "ANTHROPIC_BASE_URL": "{{ ollama.host }}",
    "ANTHROPIC_SMALL_FAST_MODEL": "devstral-small-2"
  },
{% if ollama.version is not defined or ansible_facts['memtotal_mb'] > 90000 %}
  "model": "devstral-2",
{% else  %}
  "model": "devstral-small-2",
{% endif %}
{% elif gcloud.core.project is defined %}  "env": {
    "CLAUDE_CODE_USE_VERTEX": "1",
    "CLOUD_ML_REGION": "europe-west1",
    "ANTHROPIC_VERTEX_PROJECT_ID": "{{ gcloud.core.project }}",
    "ANTHROPIC_SMALL_FAST_MODEL": "claude-haiku-4-5@20251001"
  },
  "model": "claude-opus-4-6",
{% endif %}
  "permissions": {
    "allow": [
      "Bash(cargo fmt)",
      "Bash(cargo clippy *)",
      "Bash(cargo test *)",
      "Read(~/.zshrc)"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(./secrets/**)",
      "Read(./private.eyaml)"
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "~/.claude/statusline.py",
    "padding": 0
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true
  }
}
