{
{% if ollama.host is defined %}
  {%- if ollama.version is not defined or ansible_facts['memtotal_mb'] > 90000 %}
    {%- set default_model = "qwen3-coder-next:q8_0" %}
  {%- else %}
    {%- set default_model = "qwen3-coder" %}
  {%- endif %}
  "env": {
    "API_TIMEOUT_MS": "3000000",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "ANTHROPIC_AUTH_TOKEN": "ollama",
    "ANTHROPIC_API_KEY": "",
    "ANTHROPIC_BASE_URL": "{{ ollama.host }}",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "{{ default_model }}",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "{{ default_model }}",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "qwen3-coder"
  },
  "model": "{{ default_model }}",
{% elif gcloud.core.project is defined %}
  "env": {
    "CLAUDE_CODE_USE_VERTEX": "1",
    "CLOUD_ML_REGION": "europe-west1",
    "ANTHROPIC_VERTEX_PROJECT_ID": "{{ gcloud.core.project }}",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "claude-haiku-4-5@20251001"
  },
  "model": "claude-opus-4-6",
{% endif %}
  "permissions": {
    "defaultMode": "acceptEdits",
    "additionalDirectories": [ "/tmp" ],
    "allow": [
      "Bash(ls *)",
      "Bash(wc *)",
      "Bash(cargo fmt)",
      "Bash(cargo clippy *)",
      "Bash(cargo test *)",
      "Read(~/.zshrc)"
    ],
    "deny": [
      "Read(./.env)",
      "Read(./.env.*)",
      "Read(./secrets/**)",
      "Read(./private.eyaml)"
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "~/.claude/statusline.py",
    "padding": 0
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": true
  }
}
